<div class="row">
<div class="col-lg-10 header">
  <h6>TROYPOINT APP DASHBOARD</h6>
  </div>
<div class="col-lg usersect">
  <div [popover]="logoutPopover">
  <img src="assets/images/avatar.png" class="img-circle"><span class="usrnam">AK</span>
  </div>
<popover-content  #logoutPopover [closeOnClickOutside]="true" [animation]="true" placement="bottom" > 
					<div style="color:#3fbbc0; font-size:16px !important;padding-top:5px;">
						<div><a href="#" (click)="$event.preventDefault();logout()">&nbsp;Logout</a></div>
								</div>
                    </popover-content >
  </div>
  </div>
